#---ADEMPIERE MIGRATION PARAMETERS---
#Thu Apr 13 19:27:49 EDT 2017
param_targetDB_vendor=postgresql
param_targetDB_systemPasswd=casablanca1
param_sourceDB_user=reference
param_sourceDB_name=reference
param_targetDB_systemUser=postgres
param_preserveTableID=true
param_maxLogLevel=CONFIG
param_targetDB_port=5433
param_migrationMode_isUpgrade=true
param_sourceDB_systemUser=postgres
param_targetDB_host=localhost
param_sourceDB_port=5433
param_optimizeDatabase=false
param_sourceDB_host=localhost
param_sourceDB_passwd=adempiere
param_targetDB_passwd=adempiere
param_targetDB_user=adempiere
param_targetDB_name=adempiere
param_sourceDB_vendor=postgresql
param_sourceDB_systemPasswd=casablanca1
param_attemptTranslation=true
param_dropSource=false
